{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay">

    </div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Shopping Bag</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="">
                                <tr>
                                    <th scope="col">Course Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col"></th>
                                    <th scope="col">Edit</th>
                                </tr>
                            </thead>
                            {% for item in bag_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        {% if item.course.image %}
                                        <img class="img-fluid rounded" src="{{ item.course.image.url }}" alt="{{ item.course.name }}">
                                        {% else %}
                                        <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.course.name }}">
                                        {% endif %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.course.name }}</strong></p>
                                        <p class="my-0 small text-muted">SKU: {{ item.course.sku|lower }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.course.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        <a class="remove-button text-danger float-right" href="{% url 'remove_bag_item' item.item_id %}"
                                        id="remove_{{ item.item_id }}">
                                            <small><i class="fa-solid fa-trash"></i> Remove</small>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% if free_mc %}
                            <tr>
                                <td class="p-3 w-25">
                                    {% if item.course.image %}
                                    <img class="img-fluid rounded" src="{{ MEDIA_URL }}gift-mc.jpg" alt="Sunset in the Mountains">
                                    {% else %}
                                    <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="Sunset in the Mountains">
                                    {% endif %}
                                </td>
                                <td class="py-3">
                                    <p class="my-0"><strong>Sunset in the Mountains</strong></p>
                                    <p class="my-0 small text-muted">SKU: gift-mc </p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">€0.00</p>
                                </td>
                                <td class="py-3 w-25 float-right">
                                    <i class="fas fa-gift fa-lg"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endif %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    {% if free_mc %}
                                        <h6><i class="fas fa-gift fa-lg"></i> Free master-class: <strong>Sunset in the Mountains</strong></h6>
                                    {% endif %}
                                    <h4 class="mt-4"><strong>Total: €{{ total|floatformat:2 }}</strong></h4>
                                    {% if not free_mc %}
                                        <p class="mb-1 text-danger">
                                            You could get a free master-class by spending just <strong>€{{ free_mc_delta }}</strong> more!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'courses' %}" class="btn btn-blue rounded btn-lg">
                                        <span class="icon">
                                            <i class="fa-solid fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Add Course</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn btn-blue rounded btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fa-solid fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        
                    </div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'courses' %}" class="btn btn-blue rounded btn-lg">
                        <span class="icon">
                            <i class="fa-solid fa-search"></i>
                        </span>
                        <span class="text-uppercase">Find a course</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
