{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container">
        <h2>Welcome to the world of Creativity</h2>
        <p>This is a confirmation of your order at Online Art School. 
            Your order information is below:</p>
        <ul>
            <li>Order Number: {{ order.order_number }}</li> 
            <li>Date: {{ order.date }}</li> 
            <li>Order Total: €{{ order.order_total }}</li>     
        </ul>
        <p>You can see your purchased course and start studying here:</p>
        <p>Click the button below to start exploring our app:</p>
        <a href="{{ course_urls }}" class="btn btn-blue">Start Painting</a>
    </div>

{% endblock %}